@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.Xsbzbwyevu0Qdx8LJD91FgHaEJ?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
  overflow: hidden;
}

.container {
  background-color: slateblue;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: azure;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 70px;
}

.year {
  font-size: 5em;
  color: azure;
  font-weight: bold;
}

.countdown {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  color: azure;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown div {
  margin: 0 15px;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: -25px;
  position: relative;
  text-align: center;
  width: 100px;
}

.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.4em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  height: 30px;
}

.countdown #day::before {
  content: "Dias";
}
.countdown #hour::before {
  content: "Horas";
}
.countdown #minute::before {
  content: "Min";
}
.countdown #second::before {
  content: "Seg";
}
